{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": ["eslint:recommended", "@banjoanton/eslint-config-prettier"],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "ignorePatterns": ["node_modules", "dist", "build", "coverage", "libby"],
    "rules": {
        // typescript
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": ["error"],
        // own
        "camelcase": ["warn", { "properties": "never" }],
        "array-callback-return": "warn",
        "no-constant-condition": "warn",
        "no-duplicate-imports": "warn",
        "no-unmodified-loop-condition": "warn",
        "no-use-before-define": [
            "error",
            {
                "functions": false,
                "classes": false,
                "variables": true,
                "allowNamedExports": false
            }
        ],
        "require-atomic-updates": "warn",
        "require-await": "error",
        "complexity": ["warn", 15],
        "consistent-return": "warn",
        "dot-notation": "warn",
        "eqeqeq": ["error", "always"],
        "max-params": ["error", 3],
        "no-else-return": "warn",
        "no-empty-function": "warn",
        "no-lonely-if": "warn",
        "no-multi-assign": "warn",
        "no-nested-ternary": "error",
        "no-shadow": "warn",
        "no-unneeded-ternary": "warn",
        "no-useless-rename": "warn",
        "no-var": "error",
        "no-useless-return": "warn",
        "prefer-arrow-callback": "warn",
        "prefer-const": "warn",
        "sort-imports": [
            "warn",
            {
                "ignoreCase": true,
                "ignoreDeclarationSort": true,
                "ignoreMemberSort": false,
                "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
            }
        ],
        "spaced-comment": ["warn", "always", { "markers": ["/"] }]
    }
}
